@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Mochiy+Pop+P+One&family=Montserrat+Subrayada:wght@700&family=Outfit:wght@300;400;600&family=Rubik:wght@300;400;500&family=Space+Grotesk:wght@500&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%, 0.5);
    --veryDarkBlueMain: hsl(217, 54%, 11%);
    --veryDarkBlueCard: hsl(216, 50%, 16%);
    --veryDarkBlueLine: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--veryDarkBlueMain); 
    font-size: 18px;
}

.main-container{
    border: 1px solid white;
    width: 330px;
    height: 546px;
    margin: 60px auto;
    border-radius: 1rem;
    padding: 26px;
}
.image{
    background-image: url(./images/image-equilibrium.jpg);
    width: 280px;
    height: 280px;
    background-size: cover;
    border-radius: 8px;
    margin-bottom: 26px;
    overflow: hidden;
    /* el contenido que sobresale quede dentro del div  */
}
.eye-image{
    opacity: 0;
    background-color: var(--cyan);
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}
.eye-image:hover{
    cursor: pointer;
    opacity: 1;
}
h1{
    color: var(--white);
    font-size: 1.3em;
    margin-bottom: 18px;
}
h1:hover{
    color: var(--cyan);
    cursor: pointer;
}



.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}